/* tag body start */
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #434455;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

section {
  padding: 120px 0;
}

.header-second-level {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.header-third-level {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.section-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* tag body finish */

/* tag header start */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  margin-right: 76px;
}

.logo .text-web-logo {
  color: #2e2f42;
}

.navigation-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
}

.navigation-link:hover {
  color: #404bbf;
}

.navigation-link:focus {
  color: #404bbf;
}

.address-link {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

.container-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navigation {
  display: flex;
  gap: 40px;
}

.navigation-list {
  margin: 24px 0;
}

.card-address {
  display: flex;
  gap: 40px;
}
/* tag header finish */

/* tag main start */
/* first section start */
.first-section {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}

.main-header {
  font-size: 56px;
  color: white;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}
/* first section finish */

/* second section start */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-second-section {
  display: flex;
  gap: 24px;
}

.box-second-section {
  width: calc((100% - 3 * 24px) / 4);
}
/* second section finish */

/* third section start */
.third-section {
  background-color: #f4f4fd;
}

.card-team {
  display: flex;
  gap: 24px;
}

.third-section-list {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.personal-data {
  padding: 32px 0;
}

.third-section .header-third-level {
  text-align: center;
}

.third-section .section-paragraph {
  text-align: center;
}
/* third section finish */

/* fourth section start */
.card-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.fourth-section-list {
  width: calc((100% - 48px) / 3);
}

.project-data {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* fourth section finish */
/* tag main finish */

/* tag footer start */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.text-web-logo {
  color: #f4f4fd;
}

.footer-paragraph {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}
/* tag footer finish */
